* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  padding-top: 30px;
}
.timer .field {
  text-align: center;
}

.timer .field:not(:last-child) {
  margin-right: 15px;
}
.timer .value {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}
.timer .label {
  text-transform: uppercase;
  font-size: 12px;
}
